.header{
    background-color: blue;
    text-align: center;
    padding: 40px;
}

#navbar{
    background-color: blue;
    overflow: hidden;
}

#navbar a{
    color: white;
    text-align: center;
    padding: 15px;
    float: left;
    display: block;
}

#navbar a:hover{
    background-color: black;
    color: blue;
}

.contenuto-notizie{
    border: 10px solid green;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

.calciomercato{
    float: right;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

.allenamento{
    clear: both;
    margin: 10px;
    padding: 10px;
    width: 100px;
    
}

.conte{
    column-count: 3;
    text-align: justify;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}